{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link href="{{ asset('styles/style2.css') }}?VERSION={{8751}}" rel="stylesheet"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/logo_blanc.svg') }}">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
        h2, h1 {
            text-align: center;
            margin-bottom:2%;
            margin-top:2%;
        }
        h1 {
            text-decoration: underline;
        }
    </style>
    {% endblock %}
    {% block logo %}
    <a href="/" class="navbar-brand mb-0">
        <img class="svgClass" width="150" type="image/svg" src="{{ asset("img/logo_noir.svg") }}"></img></a>          
    {% endblock %}
{% block content %}

<section class="cgv mb-5 container-fluid">
<div>
    <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>
<h2>1. INTRODUCTION</h2>
La présente Politique de confidentialité a pour objet d’informer les clients et internautes sur la façon dont leurs données personnelles sont collectées depuis le site Internet https://JOINTHECAPTABLE.com/, comment celles-ci sont traitées par JOINTHECAPTABLE dont les coordonnées sont détaillées dans les mentions légales du site Internet accessibles depuis le lien suivant https://JOINTHECAPTABLE.com/mentions-legales/ et enfin les droits dont ils bénéficient quant à ces traitements tels qu’ils sont définis ci-après et conformément à Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés dit « Loi Informatique et Libertés » et au Règlement communautaire du 27 avril 2016, dit « RGPD » pour Règlement Général pour la Protection des Données.

<h2>2. LES BASES LÉGALES DES TRAITEMENTS DE DONNÉES PERSONNELLES RÉALISÉS PAR JOINTHECAPTABLE</h2>
Conformément à la règlementation sur les données personnelles, chaque traitement réalisé par JOINTHECAPTABLE fait l’objet d’une base légale adéquate.

Ainsi, la majeure partie des traitements relatifs à la commande réalisée par le client sur le site Internet de JOINTHECAPTABLE a pour base légale l’exécution du contrat entre JOINTHECAPTABLE et le client (commandes, livraison, service après-vente, etc. ainsi que les autres finalités détaillées ci-après).

Le traitement des données personnelles du client peut également être nécessaire au respect d’une obligation légale à laquelle serait soumise JOINTHECAPTABLE, par exemple le respect de ses obligations comptables et fiscales (conservation des factures, etc. ainsi que les autres finalités détaillées ci-après).

Certains traitements de données personnelles sont réalisés avec le consentement du client et/ou de l’internaute, c’est le cas par exemple de l’envoi de newsletter.

Dans l’hypothèse d’un traitement qui serait fondé sur l’intérêt légitime de JOINTHECAPTABLE ou d’un tiers (par exemple pour la gestion des précontentieux et contentieux, etc. ainsi que les autres finalités détaillées ci-après) JOINTHECAPTABLE s’assure de ce que le traitement en cause soit bien nécessaire à la réalisation de son intérêt légitime et évalue les conséquences de ce traitement sur la personne concernée, notamment en tenant compte de la nature des données personnelles traitées, et la façon dont elles sont traitées.

<h2>3. LES FINALITÉS DES TRAITEMENTS RÉALISÉS PAR JOINTHECAPTABLE</h2>
Les traitements de données personnelles réalisés par JOINTHECAPTABLE depuis son site Internet ont les finalités suivantes :

effectuer les opérations relatives à la gestion des clients concernant les commandes de produits :
 - les livraisons ; les factures ; la comptabilité et en particulier la gestion des comptes clients ;
 - la prise de rendez-vous en salon directement depuis le site Internet de JOINTHECAPTABLE  ;
 - le suivi de la relation client tel que la réalisation d’enquêtes de satisfaction, la gestion des réclamations et du service après-vente ;
 - la sélection de clients pour réaliser des études, sondages et tests produits.
effectuer des opérations relatives à la prospection :
 - la gestion d’opérations techniques de prospection (ce qui inclut notamment les opérations techniques comme la normalisation, l’enrichissement et la déduplication) ;
 - la sélection de personnes pour réaliser des actions de fidélisation, de prospection, de sondage, de test produit et de promotion ;
 - la réalisation d’opérations de sollicitations.
l’élaboration de statistiques commerciales ;
l’organisation de jeux-concours, de loteries ou de toute opération promotionnelle à l’exclusion des jeux d’argent et de hasard en ligne soumis à l’agrément de l’Autorité de Régulation des Jeux en Ligne ;
la gestion des demandes d’exercice des droits désignés à l’article 8 ci-après ;
la gestion des impayés et du contentieux et la lutte contre la fraude ;
la gestion des avis des personnes sur les produits JOINTHECAPTABLE que ce soit sur le site Internet JOINTHECAPTABLE ou sur d’autres sites Internet, en particulier les réseaux sociaux.
<h2>4. LE STOCKAGE DES DONNÉES PERSONNELLES</h2>
Le site Internet https://JOINTHECAPTABLE.com/ et les données personnelles des clients et internautes recueillies depuis celui-ci sont hébergés auprès de la société OVH dont les coordonnées sont disponibles depuis le lien suivant https://JOINTHECAPTABLE.com/mentions-legales/.

Toutes les précautions ont été prises pour stocker les données personnelles des clients et internautes dans un environnement sécurisé et empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès. Les informations transmises par les clients et internautes ne seront jamais transmises à des tiers dans un but commercial, ni vendues, ni échangées.
<h2>5. LA COLLECTE DES DONNÉES PERSONNELLES DE L’INTERNAUTE ET DU CLIENT PAR JOINTHECAPTABLE</h2>
JOINTHECAPTABLE traite les données personnelles suivantes des internautes et clients depuis le site Internet JOINTHECAPTABLE :

a) l’identité : civilité, nom, prénoms, adresse de livraison et de facturation, numéro de téléphone, adresses de courrier électronique, code interne de traitement permettant l’identification du client

b) les données relatives à la transaction telles que le numéro de la transaction, le détail de l’achat, étant précisé que JOINTHECAPTABLE fait appel à deux prestataires de paiement, i) la société Mollie dont la politique de confidentialité est accessible en cliquant ici et ii) la société Paypal dont la politique de confidentialité est accessible en cliquant ici, pour permettre la réalisation de paiement et ne conserve donc aucun numéro de carte bancaire. Le client est ainsi invité à se rapprocher directement de Mollie et Paypal pour toute question à ce sujet ;

c) les données relatives au suivi de la relation commerciale : demandes de documentation, demandes d’essai, produit acheté, quantité, montant, adresse de livraison, historique des achats et des prestations de services (par exemple les rendez-vous en salon), retour des produits, correspondances avec le client et service après-vente, échanges et commentaires des clients et prospects ;

d) les données relatives aux règlements des factures : modalités de règlement, remises consenties, reçus, soldes et impayés ;

e) les données nécessaires à la réalisation des actions de fidélisation, de prospection, d’étude, de sondage, de test produit et de promotion ;

f) les données relatives à l’organisation et au traitement des jeux-concours, de loteries et de toute opération promotionnelle telles que la date de participation, les réponses apportées aux jeux-concours et la nature des lots offerts ;

g) les données relatives aux contributions des personnes qui déposent des avis sur des produits, services ou contenus, notamment leur pseudonyme.

<h2>6. LA DURÉE DE CONSERVATION DES DONNÉES PERSONNELLES DES PROSPECTS ET CLIENTS</h2>
Les données personnelles relatives à une commande sont conservées en base active pendant une durée de trois (3) ans, à compter de la fin de la relation commerciale.

Les données personnelles relatives à un prospect non-client (par exemple un internaute qui n’aurait pas réalisé de commande, mais se serait créé un compte ou abonné à la newsletter) sont conservées pendant un délai de trois (3) ans à compter de leur collecte par JOINTHECAPTABLE ou du dernier contact émanant du prospect (par exemple, une demande de documentation ou un clic sur un lien hypertexte contenu dans un courrier électronique).

Les données personnelles sont ensuite conservées en archivage intermédiaire pendant une durée n’excédant pas la finalité pour laquelle elle est conservée (conservation des factures pendant dix (10) ans, conservation à des fins de justifier d’un droit et/ou d’une obligation pendant la durée de prescription y afférente, etc.).

<h2>7. DESTINATAIRES OU CATÉGORIES DE DESTINATAIRE DES DONNÉES PERSONNELLES DES CLIENTS ET INTERNAUTES</h2>
Les données personnelles des clients et internautes sont traitées par le personnel habilité de JOINTHECAPTABLE et pour les finalités rappelées ci-avant.

Les données personnelles des clients et internautes peuvent être communiquées à des prestataires tels que :

les prestataires d’hébergement et de maintenance du site Internet https://JOINTHECAPTABLE.com/ ;
les prestataires de logistique et de transport ;
les prestataires de solutions marketing et de gestion de prospection commerciale et de communication via les réseaux sociaux ;
les prestataires de service client ;
etc.

Le cas échéant, tout transfert des données personnelles des clients et/ou internautes de JOINTHECAPTABLE en dehors de l’Espace Économique Européen sera effectué par JOINTHECAPTABLE moyennant des garanties appropriées, notamment contractuelles via des clauses contractuelles types, techniques et organisationnelles, en conformité avec la Loi Informatique et Liberté et le RGPD.

<h2>8. LES DROITS DES CLIENTS ET INTERNAUTES DE JOINTHECAPTABLE</h2>
Conformément à la Loi Informatique et Liberté et le RGPD, les clients et internautes dont les données personnelles sont traitées par JOINTHECAPTABLE depuis le site Internet https://JOINTHECAPTABLE.com/ peuvent, à tout moment, bénéficier des droits d’accès, de rectification, d’effacement, de limitation d’un traitement, de portabilité, d’opposition, de retrait de leur consentement au traitement de leurs données pour une finalité spécifique (lorsque ledit traitement était fondé sur ce consentement), de ne pas faire l’objet d’une décision automatisée et de directives post-mortem.

Ces droits peuvent être exercés, à tout moment :

Par courrier électronique à l’adresse suivante : help@JOINTHECAPTABLE.com ;
Par courrier postal à l’adresse suivante : Cut By Fred, 68 rue d’Hauteville 75010 Paris

Une réponse sera adressée au demandeur dans un délai d’un (1) mois maximum suivant la date de réception de la demande.

Au besoin ce délai pourra être prolongé de deux (2) mois par JOINTHECAPTABLE qui en avertira le demandeur, et ce, compte tenu de la complexité et/ou du nombre de demandes.

En cas de demande du client ou internaute de suppression de ses données personnelles et/ou en cas d’exercice de son droit à solliciter l’effacement de ses données personnelles, JOINTHECAPTABLE pourra toutefois les conserver sous forme d’archivage intermédiaire, et ce pour la durée nécessaire à satisfaire à ses obligations légales, ou à des fins probatoires pendant le délai de prescription applicable.

Le demandeur peut également porter réclamation devant l’autorité de contrôle compétente, la CNIL : www.cnil.fr).

<h2>9. MODIFICATION DE LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ</h2>
Le site Internet et l’activité de JOINTHECAPTABLE peuvent être amenés à évoluer, par exemple en cas de changement de politique commerciale ou de nouveaux choix technologiques.
De ce fait, JOINTHECAPTABLE peut être amené à modifier la présente Politique de confidentialité. JOINTHECAPTABLE se réserve le droit de la mettre à jour et de l’amender à tout moment et sans motif.
Le cas échéant, si les clients disposent d’un compte client, ce changement leur sera notifiés par courriel.
En tout état de cause, JOINTHECAPTABLE invite les clients et/ou les internautes à consulter cette politique régulièrement, et plus particulièrement avant de communiquer des données personnelles.
Si JOINTHECAPTABLE estime que les modifications prévues constituent une révision majeure de cette Politique de confidentialité, il placera un avis sur son site Internet JOINTHECAPTABLE pour informer les clients et/ou les internautes de ces modifications et leur permettre de prendre certaines mesures avant la mise en œuvre de ces modifications. Dans ce cas, JOINTHECAPTABLE enverra également un courriel pour notifier les clients enregistrés des changements à venir.
La dernière mise à jour de la présente Politique de confidentialité a été effectuée à la date indiquée plus haut.
La poursuite de l’utilisation du site Internet JOINTHECAPTABLE après application des modifications apportées à cette Politique de confidentialité vaut acceptation des dispositions de la Politique révisée, telle qu’elle s’applique désormais.
</div>
</section>

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
            $(window).scroll(function(){
                if($(window).scrollTop() > $(window).height()){
                    $("#navbar").css({"background-color":"white"});
                    $(".nav-link").css({"color":"black"});
                    document.querySelector("#logout-link").classList.remove("text-dark");  
                    document.querySelector("#logout-link").classList.add("text-light"); 
                    document.querySelector("#logout-link").classList.add("btn-dark");   
                    document.querySelector(".svgClass").getSVGDocument().getElementById("svgInternalID").setAttribute("fill", "black")
                    document.querySelector(".svgClass").getSVGDocument().getElementById("svgInternalID2").setAttribute("fill", "black")   

                }
                else{
                    $("#navbar").css({"background-color":"white"});
                    $(".nav-link").css({"color":"black"});
                    document.querySelector("#logout-link").classList.remove("btn-dark");   
                    document.querySelector("#logout-link").classList.add("text-dark");
                    document.querySelector("#logout-link").classList.remove("text-light");    
                    document.querySelector(".svgClass").getSVGDocument().getElementById("svgInternalID").setAttribute("fill", "black")  
                    document.querySelector(".svgClass").getSVGDocument().getElementById("svgInternalID2").setAttribute("fill", "black")    
                }
        
            })
        })
      </script> 
      {% endblock %}
{% endblock %}